{{#paper-card}}
  <header class="layout-column">
    <h4 class="header-quote">'Design and programming are human activities; forget that and all is lost.'
      <br>
      <span class="header-quote--attr">- Bjarne Stroustrup</span>
    </h4>

      <!-- <h4 class="header-quote header-quote--attr">- Bjarne Stroustrup</h4> -->
      <div class="header-headline">
        <h1 class="header-text">Chris McCandlish</h1>
        <h2 class="header-subtext">Front-End Developer</h2>
      </div>

  </header>
{{/paper-card}}

<main class="main">
  <div class="layout-row layout-xs-column flex-gt-xs-100 layout-padding">

      <div class="layout-column layout-padding">
        {{#if currentPortal}}
          {{paper-button mini=true onClick=(queue (log 'hi') (action 'back'))}}
        {{/if}}
        {{#paper-card class="menu-card"}}
          {{#paper-menu}}
              {{#menu-item onClick=(transition-to 'about.me')}}Bio{{/menu-item}}

              {{#menu-item canExpand=true expanded=subMenuOpen onClick=(queue (toggle 'subMenuOpen' this) (transition-to 'about.projects.enterprise'))}}
                Projects
              {{/menu-item}}
              {{#liquid-if subMenuOpen}}

                 {{#submenu-item active=(is-active "about.projects.enterprise" currentRouteName) onClick=(queue (action 'split' 'enterprise') (transition-to 'about.projects.enterprise'))}}
                    <!-- {{#if currentPortal}}
                      {{#paper-button mini=true onClick=(action 'back')}}{{/paper-button}}
                    {{/if}} -->
                    Vinli Enterprise Portal
                 {{/submenu-item}}
                 {{#submenu-item active=(is-active "about.projects.dev-portal" currentRouteName) onClick=(queue (action 'split' 'dev-portal') (transition-to 'about.projects.dev-portal'))}}
                   <!-- {{#if currentPortal}}
                     {{paper-button mini=true bubbles=true onClick=(action 'back')}}
                   {{/if}} -->
                    Vinli Developer Portal
                 {{/submenu-item}}
                 {{#submenu-item active=(is-active "about.projects.my-vinli" currentRouteName) onClick=(queue (action 'split' 'my-vinli') (transition-to 'about.projects.my-vinli'))}}
                   <!-- {{#if currentPortal}}
                     {{paper-button mini=true onClick=(action 'back')}}
                   {{/if}} -->
                    My Vinli
                 {{/submenu-item}}
              {{/liquid-if}}
              {{#menu-item onClick=(transition-to 'about.skills')}}
                Skills
              {{/menu-item}}
              {{#menu-item onClick=(transition-to 'about.books')}}
                What I'm Reading
              {{/menu-item}}
              {{#menu-item onClick=(transition-to 'about.contact')}}
                Contact Me
              {{/menu-item}}

          {{/paper-menu}}
        {{/paper-card}}

        {{#if currentPortal}}
          {{enterprise-desc}}
        {{/if}}
      </div>

      <div class="layout-row flex-gt-xs-70 layout-padding">
        <div class="flex-100">
          {{outlet}}
        </div>
      </div>


  </div>
</main>
